<section class="signup">
  <img class="signup__logo" src="assets/img/logo.png" />
  <form class="signup__form" [formGroup]="signupForm" (submit)="handleSubmit()">

    <div class="signup__form-field">
      <label class="signup__label">Name</label>
      <input class="signup__input" placeholder="Example" formControlName="name" type="text" />
    </div>

    <div class="signup__form-field">
      <label class="signup__label">Email</label>
      <input class="signup__input" placeholder="example@mail.com" formControlName="email" type="email" />
    </div>

    <div class="signup__form-field">
      <label class="signup__label">Senha</label>
      <input class="signup__input" formControlName="password" type="password" placeholder="*******" />
      <small class="signup__alert">Mínimo de 6 dígitos</small>
    </div>

    <div class="signup__form-field">
      <label class="signup__label">Quem você é?</label>
      <div>
        <input class="signup__radio" id="pet-owner" formControlName="role" type="radio" value="pet_owner" />
        <label for="pet-owner">Dono de pet</label>
      </div>
      <div>
        <input class="signup__radio" id="walker" formControlName="role" type="radio" value="walker" />
        <label for="walker">Passeador</label>
      </div>
    </div>


    <div *ngIf="signupForm.controls.role.value === 'pet_owner'" class="signup__form-field">
      <div class="signup__form-field">
        <label class="signup__label">Nome do dog</label>
        <input class="signup__input" placeholder="Cãozinho" formControlName="dogName" type="text" />
      </div>
      <div class="signup__form-field">
        <label class="signup__label">Idade do dog</label>
        <input class="signup__input" placeholder="4" formControlName="dogAge" type="text" />
      </div>
    </div>

    <button class="signup__button" [disabled]="signupForm.invalid">Cadastrar</button>

    <p class="signup__text">Já tem uma conta? <a class="signup__link" routerLink="/">Entrar</a></p>
  </form>
</section>