.search-card {
  background-color: #FFF;
  border-radius: 10px;
  box-shadow: 0px 3px 5px 0px #ccc;
  margin: 20px 40px;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  color: #525357;

  .search-card__header {
    font-size: 22px;
    margin-bottom: 15px;
  }

  .search-card__sub-header {
    font-size: 16px;
    color: #8f92a0;
    margin-bottom: 10px;
  }

  .search-card__dog-header {
    font-size: 16px;
    color: #8f92a0;
    margin-bottom: 10px;
    display: inline-block;
  }

  .search-card__button {
    background-color: #ef3a5d;
    padding: 10px;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
  }

  .search-card__price {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    display: inline-block;
  }

  .search-card__currency {
    font-size: 18px;
    display: inline-block;
  }

  .search-card__dog {
    padding: 5px 8px;
    background-color: #f0f0f0;
    font-size: 14px;
    border-radius: 15px;
    margin-left: 5px;
    display: inline-block;
  }

  .search-card__group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }


  .search-card__status {
    padding: 5px 8px;
    background-color: #f0f0f0;
    font-size: 16px;
    border-radius: 15px;
    align-self: flex-end;
  }
}