<section class="login">
  <img class="login__logo" src="assets/img/logo.png" />
  <form class="login__form"[formGroup]="loginForm" (submit)="handleSubmit()">
    <div class="login__form-field">
      <label class="login__label" >Email</label>
      <input class="login__input" formControlName="email" type="email" placeholder="example@mail.com" />
    </div>

    <div class="login__form-field">
      <label class="login__label">Senha</label>
      <input class="login__input" formControlName="password" type="password" placeholder="*******" />
    </div>

    <button class="login__button" [disabled]="loginForm.invalid">Entrar</button>

    <p class="login__text">Criar uma conta? <a class="login__link" routerLink="/signup">Cadastro</a></p>
  </form>
</section>